@import '../../../styles/settings.scss';

.footMain {
    background-color: $color-background2;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding-top: 1rem;
}

p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


    