@import '../../../styles/settings.scss';

.product-summary {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: $base-size;
    margin-bottom: $base-size;
    margin-left: -$base-size;
    margin-right: $base-size;
    transition: .2s;
    cursor: pointer;
}

section.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-img {
    height: 280px;
    width: 280px;
}

.link-btn {
    color: $color-link;
}