@import '../../../styles/settings.scss';

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: uppercase;
}

@media(max-width: 768px) {
  .navbar {
    justify-content: space-between;
    text-transform: capitalize;
  }
}

.navMain {
    border-bottom: 1px solid $color-text-super-light;
    margin-bottom: 20px;
}